@import "../../styles/common.scss";

.m-container {
  margin: 0.24rem auto !important;
  padding: 0.24rem !important;
  background-color: #fff;
}

.form-item {
  margin-bottom: 0.16rem;
}

.breakline {
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.radio {
  font-weight: 600;
}

.radio-desc {
  margin-left: 0.22rem;
  position: relative;
  font-weight: normal;
  top: -0.08rem;
  color: #919191;
}
